/* ================Landing Page=============== */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main > .welcome-sect{
    background: url(/assets/images/backgrounds/bg-1.jpg) rgba(0, 0, 0, 0.363);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-pt-sans);
}
.main > .welcome-sect > .heading-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main > .welcome-sect >.heading-cont > .heading{
    font-size: 3.5rem;
    font-weight: 600;
    color: white;
}
.main > .welcome-sect > .content{
    font-size: 1.3rem;
    color: white;
    font-weight: 500;
    margin-top: .5rem;
}
.main > .get-started{
        position: relative;
        /* left: 47vw; */
        top: 74vh;
        width: 9rem;
        font-size: 1.3rem;
}
.main > .features-sect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.main > .features-sect > .heading{
    position: relative;
    bottom: 15%;
    font-size: 2rem;
    font-weight: 500;
    color: gray;
}
.main > .features-sect > .content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
}
.main > .features-sect > .content > .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 20rem;
}
.main > .features-sect > .content > .box > img{
    width: 5rem;
    margin-bottom: 2rem;
}
.main > .benefits-sect{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main > .benefits-sect >.benefit{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.main > .benefits-sect > .benefit > .left{
    width: 50vw;
    position: relative;
    left: 1rem;

}
.main > .benefits-sect > .benefit > .left > img{
    width: 70%;
    position: relative;
    /* left: 1%; */
    border-radius: 10px;
}
.main > .benefits-sect > .benefit > .right{
    width: 50vw;
    position: relative;
    right: 1rem;
}
.main > .benefits-sect > .benefit > .right > img{
    width: 70%;
    position: relative;
    left: 30%;
    border-radius: 10px;
}
.main > .benefits-sect > .benefit > .content{
    display: flex;
    flex-direction: column;
    width: 24%;
    margin: auto;
}
.main > .benefits-sect > .benefit > .content > h6{
    font-weight: 100;
}
.main > .benefits-sect > .benefit > .content > .heading{
    font-size: 2.2rem;
    font-weight: 400;
}
.main > .benefits-sect > .benefit > .content > .para{
    margin: 2rem 0 0 0;
}
/*! ==================RESPONSIVE================= */


/* ===========990px=========== */
@media screen and (max-width: 990px) {
/* =================NAVBAR================ */
.navbar > .container-fluid > .navbar-collapse > .navbar-nav >.nav-item{
    margin: auto;
    padding: 3rem;
}
#login-from{
    margin-bottom: 2rem;
}
.navbar > .container-fluid > .navbar-collapse > .d-flex{
    justify-content: center;
}

/* =================LANDING PAGE================= */
.main > .benefits-sect > .benefit > .content > .heading {
    font-size: 1.5rem;
    font-weight: 500;
}
.main > .benefits-sect > .benefit > .content > .para {
    font-size: .8rem;
}

.main > .features-sect > .content{
    width: 99vw;
}
.main > .features-sect > .heading {
    position: relative;
    bottom: 15%;
    font-size: 1.56rem;
    font-weight: 500;
    color: gray;
}
}

@media screen and (max-width:660px) {
    .main > .features-sect > .content > .box > img {
        width: 4rem;
        margin-bottom: 2rem;
    }
    .main > .features-sect > .content > .box > .content{
        font-size: .8rem;
    }
    .main > .features-sect > .content > .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 8rem;
        height: auto;
    }
    .main > .benefits-sect > .benefit{
        flex-wrap: wrap;
    }
    .main > .benefits-sect > .benefit > .content > .heading {
        font-size: 1.2rem;
        font-weight: 500;
    }
    h6 {
        font-size: .5rem;
    }
    .main > .features-sect{
        height: auto;
        padding: 2rem;
    }
    .main > .features-sect > .content{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:530px) {
    .main > .benefits-sect > .benefit > div > img {
        display: none;
    }
    .main > .benefits-sect > .benefit > .content{
        width: 90vw;
    }
    .main > .benefits-sect > .benefit {
        height: auto;
        padding: 4rem 0;
    }
}

@media screen and (max-width:480px) {
    .main > .welcome-sect >.heading-cont > .heading {
        font-size: 2.7rem;
        font-weight: 600;
        color: white;
    }
    .main > .welcome-sect > .content {
        font-size: 1.1rem;
        color: white;
        font-weight: 500;
        margin-top: 0.5rem;
    }
}

@media screen and (max-width:375px) {
    .main > .features-sect > .heading {
        position: relative;
        bottom: 15%;
        font-size: 1.2rem;
        font-weight: 500;
        color: gray;
    }
    .main > .welcome-sect >.heading-cont > .heading {
        font-size: 1.7rem;
        font-weight: 600;
        color: white;
    }
    .main > .welcome-sect > .content {
        font-size: .8rem;
        color: white;
        font-weight: 500;
        margin-top: 0.5rem;
    }
}

@media screen and (max-width:280px) {
    /* .main > .welcome-sect{
        height: 110vh;
        width: 101%;
    } */
}