@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --font-pt-sans: 'PT Sans', sans-serif;
}
.bg-gray{
    background-color: rgba(128, 128, 128, 0.109);
}
.disabled{
    cursor:not-allowed;
}
.mt-10vh{
    margin-top: 10vh;
}
/* ===================Navbar============== */
.navbar{
    --bs-navbar-padding-y: 0rem;
}
.navbar > .container-fluid > .navbar-brand > img{
    width: 3rem;
}
/* ==================Footer=============== */
.footer{
    display: flex;
    align-items: center;
    width: 100%;
}
.footer > .logo{
    width: 2.5rem;
    border-radius: 50%;
    margin: .5rem ;
}
.footer > .copyright{
    color: white;
    font-size: 1rem;
    font-weight: 300;
    margin-top: .5rem;
}
@media screen and (max-width: 990px){
    /* =================NAVBAR================ */
.navbar > .container-fluid > .navbar-collapse > .navbar-nav >.nav-item{
    margin: auto;
    padding: 3rem;
}
#login-from{
    margin-bottom: 2rem;
}
.navbar > .container-fluid > .navbar-collapse > .d-flex{
    justify-content: center;
}

}

@media screen and (max-width:300px) {
    .footer > .copyright{
        font-size: .7rem;
    }
}