.main > .welcome-sect >.heading-cont > .heading {
    font-size: 2.7rem;
    font-weight: 600;
    color: white;
}
.main > .welcome-sect > .content {
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    margin-top: 0.5rem;
}