.main > .benefits-sect > .benefit > div > img {
    display: none;
}
.main > .benefits-sect > .benefit > .content{
    width: 90vw;
}
.main > .benefits-sect > .benefit {
    height: auto;
    padding: 4rem 0;
}