.main > .features-sect > .content > .box > img {
    width: 4rem;
    margin-bottom: 2rem;
}
.main > .features-sect > .content > .box > .content{
    font-size: .8rem;
}
.main > .features-sect > .content > .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    height: auto;
}
.main > .benefits-sect > .benefit{
    flex-wrap: wrap;
}
.main > .benefits-sect > .benefit > .content > .heading {
    font-size: 1.2rem;
    font-weight: 500;
}
h6 {
    font-size: .5rem;
}
.main > .features-sect{
    height: auto;
    padding: 2rem;
}
.main > .features-sect > .content{
    flex-wrap: wrap;
}